@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

.container {
    background-color: #293462;
    width: 100%;
    height: 100vh;
}

.container .main {
    width: 67.5%;
    position: absolute;
    height: 90%;
    top: 5%;
    left: 5%;
}

.container .main h1 {
    color: #D61C4E;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 4.0em;
}

.container .main input[type=text] {
    border: 0;
    height: 40px;
    width: 74%;
    font-size: 1.2em;
    color: #F7D716;
    position: absolute;
    left: 10%;
    top: 15%;
    background-color: rgba(0, 0, 0, 0);
}

.container .main input[type=text]:focus {
    outline: none;
    font-size: 1.2em;
    color: #F7D716;
}

.container .main input[type=text]::placeholder {
    color: #F7D716;
    font-size: 1.0em;
}

.container .main span {
    font-size: 0.68em;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    color: #616161;
    width: 15px;
    height: 15px;
}

.container .main p {
    color: #ffffff;
    font-size: 0.68em;
    display: inline-block;
    left: 2%;
}

.container .main .text {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.container .main .buttoms {
    background-color: #616161;
    width: 100%;
    position: absolute;
    right: 0%;
    bottom: 12%;
    height: auto;
}

.container .main .buttoms button {
    width: 35%;
    height: 4em;
    border-radius: 15px;
    position: absolute;
    left: 0;
}

.container .main .buttoms .encriptar {
    left: 10%;
    background-color: #ff7070;
}
.container .main .buttoms .encriptar:hover {
    background-color: #f84949;
}

.container .main .buttoms .desencriptar {
    left: 50%;
    background-color: #eea64e;
}

.container .main .buttoms .desencriptar:hover {
    background-color: #f59622;
}

.container .sidebar {
    width: 21%;
    height: 90%;
    background-color: #ffffff;
    position: absolute;
    top: 5%;
    right: 2.5%;
    border-radius: 2em;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container .sidebar img{
    width: 90%;
    margin-bottom: 7%;
}

.container .sidebar h2 {
    font-weight: bold;
    font-size: 18px;
    
}

.container .sidebar textarea, .container .sidebar textarea:focus {
    margin-top: 5%;
    border: 0;
    width: 100%;
    font-size: 1.2em;
    resize: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}


.container .sidebar button {
    width: 100%;
    height: 4em;
    border-radius: 15px;
    margin-top: 7%;
    
}

.container .sidebar button:hover {
    background-color: rgb(207, 222, 248);
    
}

.quit {
    display: none;
}